{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/cloud.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static 'js/jQuery.js' %}"></script>
    <script src="{% static 'js/passiveNavigationSlider.js' %}"></script>
    {% block js %}
    {% endblock %}
</head>
<body>
    <div class="navigation">
        {% if user.is_authenticated %}
            <a href="{% url 'authorization:logout' %}" class="nav-btn"><img src="{% static 'icons/4115235-exit-logout-sign-out_114030.png' %}" alt=""></a>
        {% else %}
            <a href="" class="nav-btn" style="pointer-events: none; transform: translateX(-40px)"><img src="" alt=""></a>
        {% endif %}
{#        <a href="#" class="nav-btn"><img src="" alt=""></a>#}
        <a href="{% url 'main:archives' %}" class="nav-btn"><img src="{% static 'icons/Архив-иконка.png' %}" alt=""></a>
        <a href="{% url 'main:main' %}" class="nav-btn href-active"><img src="{% static 'icons/Облако-иконка.png' %}" alt=""></a>
        <a href="{% url 'authorization:login' %}" class="nav-btn"><img src="{% static 'icons/log_out_icon_153555.png' %}" alt=""></a>
        {% if user.is_authenticated %}
            <a href="#" class="nav-btn"><img src="{% static 'icons/user_icon_150670.png' %}" alt=""></a>
        {% else %}
            <a href="#" class="nav-btn" style="transform: translateX(-55px)"><img src="" alt=""></a>
        {% endif %}
{#        <a href="#" class="nav-btn"><img src="{% static 'icons/Design-иконка.png' %}" alt=""></a>#}
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>